*,
*::before
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*body {
  position: relative;
}*/

.masthead {
  position: absolute;
}

header {
  background-color: #b6d2ad;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

}

.main-content {
  background-image: url("../images/world-map.jpg");
  background-repeat: no-repeat;
  height: 900px;
  position: relative;
  width: 100%;
  margin: 150px auto;
  /*top: 50px;*/
}

img {
  height: 75px;
  width: 75px;
  z-index: -1;
  border-radius: 40%
}

h1 {
  font-family: 'Josefin Slab', serif;
}

p {
  margin: 0;
  background-color: #f0f6ef;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  font-family: 'Josefin Slab', serif;
}

#addax {
  position: absolute;
  left: 865px;
  bottom: 500px;
}

#humpback {
  position: absolute;
  left: 875px;
  bottom: 3px;
  text-align: center;
}

 #humpback p {
   padding: 2px;
   margin: 2px;
 }

#dolphin {
  position: absolute;
  left: 1260px;
  bottom: 640px;
  text-align: center;
}

#dolphin p {
  padding: 2px;
  margin: 2px;
}

#dhole {
  position: absolute;
  left: 1050px;
  bottom: 600px;
}

#monkey {
  position: absolute;
  left: 400px;
  bottom: 500px;
}

#cat {
  position: absolute;
  left: 870px;
  bottom: 725px;
}

#wallaby {
  position: absolute;
  left: 1450px;
  bottom: 235px;
}
#manatee {
  position: absolute;
  left: 530px;
  bottom: 350px;
}
#rabbit {
  position: absolute;
  left: 350px;
  bottom: 660px;
}
#sealion {
  position: absolute;
  left: 1550px;
  bottom: 550px;
}
